* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Header {
  background-color: #e6b00e;
  height: 30vw;
  width: 100%;
  color: #604818;
}

.logo img {
  width: 100px;
  margin-left: 50px;
  margin-top: 50px;
}

.nameBanner {
  margin-left: 150px;
}

.nameBanner h1 {
  font-family: "American Typewriter";
  src: url("./American.ttf");
  font-size: 130px;
}

.aboutMe .background img {
  position: relative;
  width: 80%;
  transform: translateX(25%);
}

.wordContainer {
  position: absolute;
  top: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  font-size: 30px;
  width: 800px;
}
.textBar {
  background-color: #604818;
  color: white;
  text-align: center;
  height: 6vw;
  width: 100%;
  font-size: 17px;
}

.textBar h1 {
  margin: 0;
  padding-top: 20px;
}

.textBar2 {
  background-color: #180000;
  color: white;
  text-align: center;
  height: 6vw;
  width: 100%;
  font-size: 20px;
}

.textBar2 h1 {
  margin: 0;
  padding-top: 20px;
}

.contact {
  background: #604818;
}
.formBx {
  min-width: 60%;
}
.formBx form {
  display: flex;
  flex-direction: column;
}
.formBx form h3,
.contactInfo h3 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  margin: 30px;
  left: 50%;
  text-align: center;
}
.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: grey;
  resize: none;
  color: #fff;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: White;
}
.formBx form textarea {
  min-height: 200px;
}
.formBx form input[type="submit"] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contactInfo {
  min-width: 40%;
  left: 50%;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
  margin-bottom: 0;
}
.contactInfoBx .box .text p {
  font-weight: 300;
  color: #fff;
}
